.categories {
    padding: 15px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin: 0 7px 0 0;
            font-size: 31px;
            font-weight: bold;
        }
        span {
            cursor: pointer;
            font-size: 21px;
            color: rgb(147, 147, 147);
        }
        .action {
            font-weight: bold;
            font-size: 27px;
            color: var(--website-color-red);
        }
    }

    .tags-wrap {
        display: flex;
        margin-top: 17px;
        flex-wrap: wrap;

        .tag {
            cursor: pointer;
            margin: 0 11px 11px 0;
            padding: 2px 7px;
            font-size: 15px;
            border: solid 1px var(--website-color-red);
            color: var(--website-color-red);
        }
        .action {
            background-color: var(--website-color-red);
            color: #fff;
        }
        .action:hover {
            box-shadow: 0px 0px 2px var(--website-color-red);
        }
    }
}
