.filter-wrap {
    position: fixed;
    z-index: 9;
    bottom: 100px;
    left: 15px;

    .sort {
        transition: opacity 0.3s ease 0.2s;
        opacity: 1;
        select {
            margin-left: 15px;
            background-color: var(--website-color-orange-1);
            border: none;
            outline: none;

            .opt {
                display: flex;
                img {
                    margin-left: 10px;
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    .filter {
        transition: width 0.3s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: var(--website-color-orange-1);
        width: 155px;
        height: 37px;
        padding: 5px 25px;
        border-radius: 51px;
        text-align: center;

        .icon-wrap {
            transition: transform 0.3s ease;
            transform: translateY(-20px);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 24px;
                height: 24px;
            }
            width: 46px;
            height: 46px;
            border-radius: 46px;
            background-color: var(--website-color-orange-1);
            border: solid 5px white;
        }
        span {
            color: white;
            text-shadow: #eee;
            display: block;
            transform: translateY(-17px);
            font-size: 8px;
        }
    }
}

.filter-wrap-fold {
    width: 46px;
    height: 46px;
    padding: 0px;

    .sort {
        opacity: 0;
    }

    .filter {
        overflow: hidden;
        width: 46px;
        height: 46px;
        padding: 0px;
        .icon-wrap {
            transform: translateY(0px);
            border: none;
        }
        span {
            display: none;
        }
    }
}
