.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 9;

    .logo {
        cursor: pointer;
        padding: 5px 10px;
        font-size: 23px;
        font-weight: bold;
        display: grid;
        align-items: center;
    }

    .tips {
        display: flex;
        .chart {
            cursor: pointer;
            display: grid;
            justify-content: center;
            align-items: center;
            margin-right: 11px;
            img {
                margin-top: 3px;
                width: 47px;
                height: 47px;
            }
        }
        .github {
            display: grid;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            margin-right: 11px;
            img {
                width: 37px;
                height: 37px;
            }
        }
        .email {
            text-align: center;
            color: #fff;
            background-color: var(--website-color-blue);
            padding: 5px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;

            .text {
                font-size: 12px;
            }
        }
    }
}
