.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 99;

    .logo {
        cursor: pointer;
        padding: 0 10px;
        font-size: 23px;
        font-weight: bold;
        display: grid;
        align-items: center;
    }

    .tips {
        display: flex;
        .chart {
            cursor: pointer;
            display: grid;
            justify-content: center;
            align-items: center;
            margin-right: 11px;
            img {
                margin-top: 3px;
                width: 47px;
                height: 47px;
            }
        }
        .github {
            display: grid;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            margin-right: 11px;
            img {
                width: 37px;
                height: 37px;
            }
        }
        .email {
            text-align: center;
            color: #fff;
            background-color: var(--website-color-blue);
            padding: 5px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;

            .text {
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width: 741px) {
    .card {
        position: fixed;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        font-size: 22px;
        box-shadow: 0 0 15px rgb(98, 98, 98);
        overflow: hidden;

        .wrap {
            background-color: #2d9cdb;
            border-radius: 5px;
            position: relative;
            height: 300px;
            margin: 3px;
            z-index: 9;
            & > img {
                height: 100%;
            }
            .info {
                margin-top: 100px;
                align-items: center;
                margin-left: 50px;
                width: 300px;
                color: #ffffff;
                div {
                    margin-bottom: 20px;
                    img {
                        transform: translateY(5px);
                        width: 24px;
                    }
                }
            }
        }

        .light {
            position: absolute;
            inset: 0;
        }
        .light::before {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 800px;
            height: 180px;
            background: linear-gradient(
                transparent,
                rgb(255, 255, 150),
                rgb(255, 255, 9),
                rgb(255, 255, 150),
                transparent
            );
            animation: animate1 5s ease infinite;
        }
        @keyframes animate1 {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
        .light::after {
            content: '';
            position: absolute;
            inset: 3px;
        }
    }
}

@media screen and (max-width: 740px) {
    .header {
        .logo {
            cursor: pointer;
            padding: 5px 10px;
            font-size: 23px;
            font-weight: bold;
            display: grid;
            align-items: center;
        }
        .tips {
            .chart {
                margin-right: 7px;
                img {
                    margin-top: 3px;
                    width: 37px;
                    height: 37px;
                }
            }
            .github {
                margin-right: 11px;
                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }

    .card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2px rgb(168, 168, 168);
        border-radius: 5px;
        overflow: hidden;

        .wrap {
            border-radius: 5px;
            background-color: #2d9cdb;
            position: relative;
            width: 300px;
            margin: 3px;
            z-index: 9;

            & > img {
                width: 100%;
            }
            .info {
                margin-top: 30px;
                text-align: center;
                width: 300px;
                color: #ffffff;
                div {
                    margin-bottom: 20px;
                    img {
                        transform: translateY(5px);
                        width: 24px;
                    }
                }
            }
        }

        .light {
            position: absolute;
            inset: 0;
        }
        .light::before {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 800px;
            height: 120px;
            background: linear-gradient(
                transparent,
                rgb(255, 255, 150),
                rgb(255, 255, 9),
                rgb(255, 255, 150),
                transparent
            );
            animation: animate1 5s ease infinite;
        }
        @keyframes animate1 {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
        .light::after {
            content: '';
            position: absolute;
            inset: 3px;
        }
    }
}
