.page-nodes {
    position: relative;
    width: 100%;
    .nodes-wrap {
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1001px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 740px) {
}
