.footer {
    margin-top: 30px;
    position: relative;
    background-color: var(--website-color-gray-2);
    padding: 35px 0 0 0;
    z-index: 10;

    .copyright {
        margin-top: 105px;
        background-color: #151515;

        .info {
            padding: 40px 0;
            text-align: center;
            color: #fff;
            font-size: 13px;
            p {
                margin: 15px 0;
            }
        }
    }

    .dependence {
        margin: 0 auto;
        width: 1000px;
        h1 {
            color: #fff;
        }

        .wrap {
            display: flex;
            justify-content: space-between;

            .item {
                overflow: hidden;
                width: 31%;
                height: 300px;
                overflow: hidden;
                border-radius: 15px 15px 0 0;

                .pic {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }

                & > .min-header {
                    position: sticky;
                    z-index: 1;
                    display: flex;
                    justify-content: left;
                    background-color: #949494;
                    border-radius: 15px 15px 0 0;
                    padding: 0 8px;

                    .dot {
                        margin: 3px 1px;
                        width: 7px;
                        height: 7px;
                        border-radius: 7px;
                        background-color: #d9d9d9;
                        color: #d9d9d9;
                        content: '*';
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) {
    .footer {
        .dependence {
            h1 {
                margin-top: 62px;
            }
            .wrap {
                .item {
                    .pic {
                        img {
                            transition: transform 5s ease;
                            transform: translateY(0);
                        }
                        &:hover {
                            cursor: pointer;
                            img {
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .footer {
        margin-top: 17px;
        .dependence {
            padding-top: 25px;
            width: 100%;

            h1 {
                padding-left: 13px;
                margin-top: 62px;
                color: #fff;
            }

            .wrap {
                display: grid;
                grid-template-columns: 1fr;

                .item {
                    overflow: hidden;
                    width: 80%;
                    height: 230px;
                    margin: 11px auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        margin-top: 17px;
        .dependence {
            padding-top: 25px;
            width: 100%;

            h1 {
                padding-left: 13px;
                margin-top: 62px;
                color: #fff;
            }

            .wrap {
                display: grid;
                grid-template-columns: 1fr;

                .item {
                    overflow: hidden;
                    width: 60%;
                    margin: 17px auto;
                }
            }
        }
    }
}
